{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{% url 'detail' post.id %}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.excerpt }}
                            </h3>
                        </a>
                        <p class="post-meta">
                            Post by {{ post.author.username }} on {{ post.created_time }}
                        </p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto">
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>


{% endblock %}
